 /* pc */
        @media (min-width:1024) {
        
        }
         /* tablet */
        @media (max-width:1023) and (min-width:800px) {
  
        } 

        
        /* mobile */
        @media (max-width:799px) {
            #nav >li {
                display: block;
            }
            #header {
                overflow: hidden;
            }
            .search-btn.ti-search {
                display: none;
            }
        } 