* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* common */
html {
    scroll-behavior:smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.clear {
    clear: both;
}

.mt-32 {
    margin-top: 32px;
}
.mt-16 {
    margin-top: 16px;
}
.mt-8 {
    margin-top: 8px!important;
}
.row {
    margin-left: -8px;
    margin-right: -8px;

}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left:8px ;
    padding-right: 8px;
}

.col-third {
    width: 33.33333%;
}

.col-half {
    width: 50%;
}
.col-full {
    width: 100%;
}
.text-center {
    text-align: center!important;
}
.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 10px 16px;
    display: inline-block;
    margin-top: 15px;
    border-width: 0px;
    -webkit-appearance: none;
}
.float-right {
    float: right!important;
}
/* main */
/* #main {


} */

#header {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 46px;
    background-color: #000;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style: none;
    
}

#nav li {
    display: inline-block;
    position: relative;

}   

#nav >li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav a {
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display:block ;
}

#nav li:hover > .subnav {
    display: block;
}

#nav .subnav li:hover,
#nav > li:hover > a {

    color: #000;
    background-color: #ccc;
}

#nav .nav-down {
    font-size: 14px;
    
}
#header .menu-mobile-btn,
#header .search-icon {
    float: right;
}

#header .menu-icon,
#header .search-btn {
    color: #fff;
    font-size: 16px;
    line-height: 46px;
    padding: 0px 22px;

}

#header .menu-mobile-btn {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}


#header .menu-icon:hover.ti-menu {
    height: 100%;
    display: inline-block;
    background-color: #ccc;
    color: #000;
}

#header .search-btn:hover {
    color: #fff;
    background-color: #f44336;
    cursor: pointer;
    display: inline-block;
}

#nav .subnav {
    top: 46px;
    min-width: 160px;
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a {
    color: #000;
    padding: 0px 12px;
    line-height: 38px;
}

#nav .subnav li {
    display: block;
}


#slider {
    margin-top: 46px;
    padding-top: 50%;
    position: relative;
    background: url(../img/slider/slider.jpg) top center / cover no-repeat;
}

#slider .text-content {
    text-shadow: 0px 0px 1px #000;
    position: absolute;
    bottom: 48px;
    color: #fff;
    text-align: center;
    width: 100%;
    /* left: 50%; */
    /* transform: translateX(-50%); */
}

#slider .slider-heading {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 15px;
}

#slider .text-desc {
    font-size: 16px;
}
/* 
#content {

} */

#content .content-section {
    max-width: 100%;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0px 112px;
    padding-left: 16px;
    padding-right: 16px;
}
 
#content .section-heading,
#content .section-subheading {
    text-align: center;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing:  4px;
    margin-bottom: 25px;
}


#content .section-subheading {
    font-size: 16px;
    font-style: italic;
    opacity: 0.6;

}

#content .about-content {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;

}

#content .team-member {
    /* overflow: hidden; */
    padding-top: 32px;
}
/* 
/* #content .member-item {
    /* float: left; */
    /* width: 33.33333%; */
    /* text-align: center;

} */

#content .member-name {
    font-size: 15px;
    font-weight: 600;
}

#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

#content .tour-section {
    background-color: #000;
}

#content .book-ticket {
    background-color: #fff;
    margin-top: 40px;
}

.book-ticket .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.book-ticket .quantity {
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    float: right;
    width: 24px;
    height: 24px;
    margin-top: -3px;
}

.book-ticket li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style: none;
}

.places-section {  
    margin-top: 16px; 
}

/* 
.place-item {
    width: 33.33333%;
} */

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
margin-top: 15px;
color: #757575;
}

.place-decs {
    margin-top: 15px;
    line-height: 1.4;

}



.btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}


#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

#modal.open{
    display: flex;
}
#modal .modal-container {
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease 0.4s; 
}

#modal .modal-header {
    background-color: #009688 ;
    min-height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

#modal .bag-tickets {
    margin-right: 20px;
}
#modal .modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 16px;
    padding: 14px 14px;
    cursor: pointer;
}
#modal .modal-close:hover {
    background-color: #ccc;
    opacity: 1;
}

#modal .modal-body {
    padding: 16px;
}
#modal .modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

#modal .modal-input {
    font-size: 15px;
    padding: 10px ;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
}


#buy-tickets-btn-modal {
    width: 100%;
    padding: 16px;
    font-size: 15px;
    font-weight: 550;
    background-color: #009688;
    text-transform: uppercase;
    color: #fff;
    border: none;
}

#buy-tickets-btn-modal:hover {
    background-color: #ccc;
    opacity: 0.8;
}

#modal .modal-help {
    text-align: right;
    padding: 16px;
}
#modal .a-modal-help {
    color: #2196F3;
}
.text-white {
    color: #fff!important;
}

.contact-content {
    padding-top: 48px;
}

.contact-infor a {
    opacity: 0.8;
}

.contact-infor a:hover {
    opacity: 1;
}

.contact-infor {
    font-size: 18px;
    line-height: 1.4;
}

.contact-infor i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contect-form {
    font-size: 15px;

}
.contect-form .form-control  {
    padding: 10px ;
    border: 1px solid #ccc;
    width: 100%;
}

.map-section img{
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center

}
#footer .social-list {
    font-size: 24px;
}
#footer .social-list a {
    text-decoration: none;
    color:rgba(0, 0, 0, 0.6)
}
#footer .copyright a:hover,
#footer .social-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}
#footer .copyright {
    margin-top: 16px;
    color: rgba(0, 0, 0, 0.6);

}
#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}





@keyframes modalFadeIn {
    from {
        transform: translateY(-150px);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateY(0px);

    }

}
